name: Build & Publish Multi-Arch Docker Image to GHCR

on:
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout public repo
      uses: actions/checkout@v4

    - name: Extract version from tag
      id: vars
      run: echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_PAT }}

    - name: Build and push multi-arch image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Dockerfile
        push: true
        platforms: linux/amd64,linux/arm64
        tags: |
          ghcr.io/mpassovoy/sshyphon:latest
          ghcr.io/mpassovoy/sshyphon:${{ env.TAG }}

    - name: Make GHCR package public
      run: |
        curl -X PATCH \
          -H "Authorization: Bearer ${{ secrets.GHCR_PAT }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/user/packages/container/sshyphon/visibility \
          -d '{"visibility":"public"}'
